.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
    }

.centered-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.jumbotron {
    background: -moz-linear-gradient(45deg, rgba(227,253,255,1) 41%, rgba(219,248,250,1) 43%, rgba(207,241,243,1) 46%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(41%, rgba(227,253,255,1)), color-stop(43%, rgba(219,248,250,1)), color-stop(46%, rgba(207,241,243,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(227,253,255,1) 41%, rgba(219,248,250,1) 43%, rgba(207,241,243,1) 46%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(227,253,255,1) 41%, rgba(219,248,250,1) 43%, rgba(207,241,243,1) 46%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(227,253,255,1) 41%, rgba(219,248,250,1) 43%, rgba(207,241,243,1) 46%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(227,253,255,1) 41%, rgba(219,248,250,1) 43%, rgba(207,241,243,1) 46%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#E3FDFF',GradientType=1 ); /* ie6-9 */
}