.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
    }

.centered-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}